.backverde{
	background-color: #26AD5F;
}
.backpaisaje{
	background-image: url(../img/carousel-bg.jpg);
	height: 500px;
}
h1{
	font-size: 5em;
}
.pheader{
	font-size: 2em;
}
.txbco{
	color: white
}
#back1{
	background-color: #69D2E7;
}
#back2{
	background-color: #A7DBDB;
}
#back3{
	background-color: #E0E4CC;
}
#back4{
	background-color: #F38630;
}
#back5{
	background-color: #FA6900;
}
.pd-5{
	padding: 5%;
}
.pd-2{
	padding: 2%;
}