.backverde{
	background-color: #26AD5F;
	height: auto;
}
.backpaisaje{
	background-image: url(../img/carousel-bg.jpg);
	height: auto;
}
h1{
	font-size: 5em;
}
h2{
	font-size: 4em;
}
.pheader{/*párrafo del header*/
	font-size: 2em;
}
.txbco{
	color: white;
}
.altocaja{/*fue la única manera que hallé para darle un alto a cada caja (probé ponerle altura a la row y también a cada div*/
	height: 9em;
	margin: 0;
}

/*cada una de las cajas de paleta de color*/
#back1{
	background-color: #69D2E7;
}
#back2{
	background-color: #A7DBDB;
}
#back3{
	background-color: #E0E4CC;
}
#back4{
	background-color: #F38630;
}
#back5{
	background-color: #FA6900;
}


hr{
	border-style: groove;
	width: 20%
}



/*utilities*/
.pd-5{
	padding: 5%;
}
.pd-2{
	padding: 2%;
}
.pd-left{
	padding-left: 9%;
}
.pd-right{
	padding-right: 9%;
}
.m-bot-5{
	margin-bottom: 5%;
}
.m-top-5{
	margin-top: 5%;
}
